<form ng-submit="applyFilter(filters, 'clubHouse')">
    <md-list layout="column">
        <md-list-item>
            <p>Multi Purpose Hall</p>
            <md-checkbox
                ng-false-value="null"
                ng-model="filters.clubHouse.multiPurposeHall"
                ng-init="filters.clubHouse.multiPurposeHall = local.clubHouse.multiPurposeHall"
                class="md-secondary">
            </md-checkbox>
        </md-list-item>
        <md-list-item>
            <p>Restaurant</p>
            <md-checkbox
                ng-false-value="null"
                ng-model="filters.clubHouse.restaurant"
                ng-init="filters.clubHouse.restaurant = local.clubHouse.restaurant"
                class="md-secondary">
            </md-checkbox>
        </md-list-item>
        <md-list-item>
            <p>Yoga Room</p>
            <md-checkbox
                ng-false-value="null"
                ng-model="filters.clubHouse.yogaRoom"
                ng-init="filters.clubHouse.yogaRoom = local.clubHouse.yogaRoom"
                class="md-secondary">
            </md-checkbox>
        </md-list-item>
        <md-list-item>
            <p>Aerobics Rooms</p>
            <md-checkbox
                ng-false-value="null"
                ng-model="filters.clubHouse.aerobicsRooms"
                ng-init="filters.clubHouse.aerobicsRooms = local.clubHouse.aerobicsRooms"
                class="md-secondary">
            </md-checkbox>
        </md-list-item>
        <md-list-item>
            <p>Dance Room</p>
            <md-checkbox
                ng-false-value="null"
                ng-model="filters.clubHouse.danceRoom"
                ng-init="filters.clubHouse.danceRoom = local.clubHouse.danceRoom"
                class="md-secondary">
            </md-checkbox>
        </md-list-item>
        <md-list-item>
            <p>Music Room</p>
            <md-checkbox
                ng-false-value="null"
                ng-model="filters.clubHouse.musicRoom"
                ng-init="filters.clubHouse.musicRoom = local.clubHouse.musicRoom"
                class="md-secondary">
            </md-checkbox>
        </md-list-item>
        <md-list-item>
            <p>Salon</p>
            <md-checkbox
                ng-false-value="null"
                ng-model="filters.clubHouse.salon"
                ng-init="filters.clubHouse.salon = local.clubHouse.salon"
                class="md-secondary">
            </md-checkbox>
        </md-list-item>
        <md-list-item>
            <p>Spa</p>
            <md-checkbox
                ng-false-value="null"
                ng-model="filters.clubHouse.spa"
                ng-init="filters.clubHouse.spa = local.clubHouse.spa"
                class="md-secondary">
            </md-checkbox>
        </md-list-item>
        <md-list-item>
            <p>Gym</p>
            <md-checkbox
                ng-false-value="null"
                ng-model="filters.clubHouse.gym"
                ng-init="filters.clubHouse.gym = local.clubHouse.gym"
                class="md-secondary">
            </md-checkbox>
        </md-list-item>
        <md-list-item>
            <p>Video Games</p>
            <md-checkbox
                ng-false-value="null"
                ng-model="filters.clubHouse.videoGames"
                ng-init="filters.clubHouse.videoGames = local.clubHouse.videoGames"
                class="md-secondary">
            </md-checkbox>
        </md-list-item>
        <md-list-item>
            <p>Mini Theatre</p>
            <md-checkbox
                ng-false-value="null"
                ng-model="filters.clubHouse.minitheatre"
                ng-init="filters.clubHouse.minitheatre = local.clubHouse.minitheatre"
                class="md-secondary">
            </md-checkbox>
        </md-list-item>
        <md-list-item>
            <p>Kids Zone</p>
            <md-checkbox
                ng-false-value="null"
                ng-model="filters.clubHouse.kidsZone"
                ng-init="filters.clubHouse.kidsZone = local.clubHouse.kidsZone"
                class="md-secondary">
            </md-checkbox>
        </md-list-item>
        <md-list-item>
            <p>Bar</p>
            <md-checkbox
                ng-false-value="null"
                ng-model="filters.clubHouse.bar"
                ng-init="filters.clubHouse.bar = local.clubHouse.bar"
                class="md-secondary">
            </md-checkbox>
        </md-list-item>
        <md-list-item>
            <p>Cafe</p>
            <md-checkbox
                ng-false-value="null"
                ng-model="filters.clubHouse.cafe"
                ng-init="filters.clubHouse.cafe = local.clubHouse.cafe"
                class="md-secondary">
            </md-checkbox>
        </md-list-item>
        <md-list-item>
            <p>Business Centre</p>
            <md-checkbox
                ng-false-value="null"
                ng-model="filters.clubHouse.businessCentre"
                ng-init="filters.clubHouse.businessCentre = local.clubHouse.businessCentre"
                class="md-secondary">
            </md-checkbox>
        </md-list-item>
        <md-list-item>
            <p>Guest Rooms</p>
            <md-checkbox
                ng-false-value="null"
                ng-model="filters.clubHouse.guestRooms"
                ng-init="filters.clubHouse.guestRooms = local.clubHouse.guestRooms"
                class="md-secondary">
            </md-checkbox>
        </md-list-item>
        <md-list-item>
            <p>Steam Room</p>
            <md-checkbox
                ng-false-value="null"
                ng-model="filters.clubHouse.steamRoom"
                ng-init="filters.clubHouse.steamRoom = local.clubHouse.steamRoom"
                class="md-secondary">
            </md-checkbox>
        </md-list-item>
        <md-list-item>
            <p>Sauna Room</p>
            <md-checkbox
                ng-false-value="null"
                ng-model="filters.clubHouse.saunaRoom"
                ng-init="filters.clubHouse.saunaRoom = local.clubHouse.saunaRoom"
                class="md-secondary">
            </md-checkbox>
        </md-list-item>
        <md-list-item>
            <p>Jacuzzi</p>
            <md-checkbox
                ng-false-value="null"
                ng-model="filters.clubHouse.jacuzzi"
                ng-init="filters.clubHouse.jacuzzi = local.clubHouse.jacuzzi"
                class="md-secondary">
            </md-checkbox>
        </md-list-item>
        <md-button layout-align="center center" type="submit" class="md-raised md-primary">Apply</md-button>
    </md-list>
</form>