<form layout="column" layout-padding ng-submit="applyFilter(filters, 'specifications')">
	<md-list layout="column">
        <md-list-item>
			<p>Shower Cubicle</p>
	    	<md-checkbox
				ng-false-value="null"
				ng-init="filters.specifications.showerCubicle = local.specifications.showerCubicle"
				ng-model="filters.specifications.showerCubicle"
				class="md-secondary">      
		     </md-checkbox>
        </md-list-item>
        <md-list-item >
             <p>Home Automation</p>
	    	<md-checkbox
				ng-false-value="null"
		        ng-init="filters.specifications.homeAutomation = local.specifications.homeAutomation" 
		        ng-model="filters.specifications.homeAutomation"
				class="md-secondary">
		    </md-checkbox>
        </md-list-item>
        <md-list-item >
             <p>VRV Air Conditioning</p>
	    	<md-checkbox 
				ng-false-value="null"
				ng-init="filters.specifications.vrvAirConditioning = local.specifications.vrvAirConditioning" 
				ng-model="filters.specifications.vrvAirConditioning"
				class="md-secondary">
	    	</md-checkbox>
        </md-list-item>
         <md-list-item >
             <p>Kitchen Appliances</p>
	    	 <md-checkbox
				ng-false-value="null"
				ng-init="filters.specifications.kitchenAppliances = local.specifications.kitchenAppliances" 
				ng-model="filters.specifications.kitchenAppliances" 
				class="md-secondary">
	    	</md-checkbox>
        </md-list-item>
         <md-list-item>
             <p>Kitchen OTG</p>
	    	 <md-checkbox
				ng-false-value="null"
				ng-init="filters.specifications.kitchenOtg = local.specifications.kitchenOtg" 
				ng-model="filters.specifications.kitchenOtg"
				class="md-secondary">
			</md-checkbox>
        </md-list-item>
        <md-list-item >
             <p>Bath Tub</p>
	    	 <md-checkbox 
			ng-false-value="null"
	        ng-init="filters.specifications.bathTub = local.specifications.bathTub"
	        ng-model="filters.specifications.bathTub" 
			class="md-secondary">
	    </md-checkbox>
        </md-list-item>
        <md-list-item >
             <p>Kitchen Modular</p>
	    	 <md-checkbox 
			ng-false-value="null"
	        ng-init="filters.specifications.kitchenModular = local.specifications.kitchenModular"
	        ng-model="filters.specifications.kitchenModular" 
			class="md-secondary">
	          
	    </md-checkbox>
        </md-list-item>
        <md-list-item >
             <p>Kitchen Dish Washer</p>
	    	 <md-checkbox 
			ng-false-value="null"
	        ng-init="filters.specifications.kitchenDishWasher = local.specifications.kitchenDishWasher"
	        ng-model="filters.specifications.kitchenDishWasher" 
			class="md-secondary">  
	    </md-checkbox>
        </md-list-item>
        <md-list-item >
             <p>Air Conditioning</p>
	    	 <md-checkbox 
			ng-false-value="null"
	        ng-init="filters.specifications.airConditioning = local.specifications.airConditioning"
	        ng-model="filters.specifications.airConditioning" 
			class="md-secondary">
	    </md-checkbox>
        </md-list-item>
        <md-list-item >
             <p>Flooring Master Bedrooms</p>
	    	 <md-checkbox 
			ng-false-value="null"
	        ng-init="filters.specifications.flooringMasterBedrooms = local.specifications.flooringMasterBedrooms"
	        ng-model="filters.specifications.flooringMasterBedrooms" 
			class="md-secondary">
	    </md-checkbox>
        </md-list-item>
        <md-list-item >
             <p>Kitchen Chimney</p>
	    	 <md-checkbox 
			ng-false-value="null"
	        ng-init="filters.specifications.kitchenChimney = local.specifications.kitchenChimney"
	        ng-model="filters.specifications.kitchenChimney" 
			class="md-secondary">
	    </md-checkbox>
        </md-list-item>
        <md-list-item >
             <p>Flooring Living Dining</p>
	    	 <md-checkbox 
			ng-false-value="null"
	        ng-init="filters.specifications.flooringLivingDining = local.specifications.flooringLivingDining"
	        ng-model="filters.specifications.flooringLivingDining" 
			class="md-secondary">
	    </md-checkbox>
        </md-list-item>
        <md-list-item >
             <p>Kitchen Microwave Oven</p>
	    	 <md-checkbox 
			ng-false-value="null"
	        ng-init="filters.specifications.kitchenMicrowaveOven = local.specifications.kitchenMicrowaveOven"
	        ng-model="filters.specifications.kitchenMicrowaveOven" 
			class="md-secondary">
	    </md-checkbox>
        </md-list-item>
        <md-list-item >
             <p>Kitchen Refrigerator</p>
	    	 <md-checkbox 
			ng-false-value="null"
	        ng-init="filters.specifications.kitchenRefrigerator = local.specifications.kitchenRefrigerator"
	        ng-model="filters.specifications.kitchenRefrigerator" 
			class="md-secondary">
	    </md-checkbox>
        </md-list-item>
        <md-list-item >
             <p>Flooring Other Bedrooms</p>
	    	 <md-checkbox 
			ng-false-value="null"
	        ng-init="filters.specifications.flooringOtherBedrooms = local.specifications.flooringOtherBedrooms"
	        ng-model="filters.specifications.flooringOtherBedrooms" 
			class="md-secondary">
	    </md-checkbox>
        </md-list-item>
        <md-list-item >
             <p>Kitchen HOB</p>
	    	 <md-checkbox 
			ng-false-value="null"
	        ng-init="filters.specifications.KitchenHob = local.specifications.KitchenHob"
	        ng-model="filters.specifications.KitchenHob" 
			class="md-secondary">
	    </md-checkbox>
        </md-list-item>
        <md-list-item >
             <p>Fully Furnished</p>
	    	 <md-checkbox 
			ng-false-value="null"
	        ng-init="filters.specifications.fullyFurnished = local.specifications.fullyFurnished"
	        ng-model="filters.specifications.fullyFurnished" 
			class="md-secondary">
	    </md-checkbox>
        </md-list-item>
        <md-list-item >
             <p>Wardrobes</p>
	    	 <md-checkbox 
			ng-false-value="null"
	        ng-init="filters.specifications.wardrobes = local.specifications.wardrobes"
	        ng-model="filters.specifications.wardrobes" 
			class="md-secondary">
	    </md-checkbox>
        </md-list-item>
        <md-button layout-align="center center" type="submit" class="md-raised md-primary">Apply</md-button>
    </md-list>
</form>
