<form ng-submit="applyFilter(filters, 'sportActivities')">
  <md-list layout="column">
        <md-list-item >
             <p>Cricket</p>
       <md-checkbox class="md-secondary" layout="row" 
       ng-false-value="null"
       ng-model="filters.sportActivities.cricket" 
       ng-init="filters.sportActivities.cricket=local.sportActivities.cricket" >
      </md-checkbox>
        </md-list-item>
        <md-list-item >
             <p> Football</p>
       <md-checkbox class="md-secondary" layout="row" 
       ng-false-value="null"
       ng-model="filters.sportActivities.football" 
       ng-init="filters.sportActivities.football=local.sportActivities.football" >
      
      </md-checkbox>
        </md-list-item>

        <md-list-item >
             <p> Tennis</p>
        <md-checkbox class="md-secondary" 
        ng-false-value="null"
        ng-model="filters.sportActivities.tennis" 
        ng-init="filters.sportActivities.tennis=local.sportActivities.tennis" >
        
      </md-checkbox>
        </md-list-item>

         <md-list-item >
             <p> Pool Table</p>
       <md-checkbox class="md-secondary" layout="row" 
       ng-false-value="null"
       ng-model="filters.sportActivities.poolTable" 
       ng-init="filters.sportActivities.poolTable=local.sportActivities.poolTable" >
       
      </md-checkbox>
       
        </md-list-item>

         <md-list-item >
             <p>Basketball</p>
         <md-checkbox class="md-secondary" layout="row"  
         ng-false-value="null"
         ng-model="filters.sportActivities.basketball"  
         ng-init="filters.sportActivities.basketball=local.sportActivities.basketball">
        
      </md-checkbox>
       
        </md-list-item>

         <md-list-item >
             <p>Multi Purpose Court</p>
      <md-checkbox class="md-secondary" layout="row"  
      ng-false-value="null"
      ng-model="filters.sportActivities.multiPurposeCourt" 
      ng-init="filters.sportActivities.multiPurposeCourt=local.sportActivities.multiPurposeCourt" >
       
      </md-checkbox>
       
        </md-list-item>

        <md-list-item >
             <p> Pitch And Putt</p>
       <md-checkbox class="md-secondary" layout="row"  
       ng-false-value="null"
       ng-model="filters.sportActivities.pitchAndPutt" 
       ng-init="filters.sportActivities.pitchAndPutt=local.sportActivities.pitchAndPutt" >
      
      </md-checkbox>
       
        </md-list-item>

        <md-list-item >
             <p>Skating Rink</p>
             
        <md-checkbox class="md-secondary" layout="row"  
        ng-false-value="null"
        ng-model="filters.sportActivities.skatingRink" 
        ng-init="filters.sportActivities.skatingRink=local.sportActivities.skatingRink" >
        
      </md-checkbox>       
        </md-list-item>

         <md-list-item >
             <p>Volleyball</p>
             
         <md-checkbox class="md-secondary" layout="row"  
         ng-false-value="null"
         ng-model="filters.sportActivities.volleyball" 
         ng-init="filters.sportActivities.volleyball=local.sportActivities.volleyball" >
        
      </md-checkbox>   
        </md-list-item>


         <md-list-item >
             <p>Amphitheatre</p>
             
         <md-checkbox class="md-secondary" layout="row" 
          
         ng-false-value="null"
         ng-model="filters.sportActivities.amphitheatre" 
         ng-init="filters.sportActivities.amphitheatre=local.sportActivities.amphitheater">
       
      </md-checkbox>
        </md-list-item>

         <md-list-item >
             <p> Badminton</p>
             
        <md-checkbox class="md-secondary" layout="row" 
         
        ng-false-value="null"
        ng-model="filters.sportActivities.badminton" 
        ng-init="filters.sportActivities.badminton=local.sportActivities.badminton" >
      
      </md-checkbox>
        </md-list-item>


         <md-list-item >
             <p> TableTennis</p>
             
        <md-checkbox class="md-secondary" layout="row"  
        ng-false-value="null"
        ng-model="filters.sportActivities.tableTennis" 
        ng-init="filters.sportActivities.tableTennis=local.sportActivities.tableTennis" >
        
      </md-checkbox>
        </md-list-item>

         <md-list-item >
             <p>  Squash</p>
       <md-checkbox class="md-secondary" layout="row"  
       ng-false-value="null"
       ng-model="filters.sportActivities.squash" 
       ng-init="filters.sportActivities.squash=local.sportActivities.squash" >
       
      </md-checkbox>
        </md-list-item>


         <md-list-item >
             <p>   Swimming Pool</p>
       <md-checkbox class="md-secondary" layout="row"  
       ng-false-value="null"
       ng-model="filters.sportActivities.swimmingPool" 
       ng-init="filters.sportActivities.swimmingPool=local.sportActivities.swimmingPool" >
       
      </md-checkbox>
        </md-list-item>

         <md-list-item >
             <p> Kids Play Areas</p>
      <md-checkbox class="md-secondary" layout="row"  
       ng-false-value="null"
      ng-model="filters.sportActivities.kidsPlayAreas" 
      ng-init="filters.sportActivities.kidsPlayAreas=local.sportActivities.kidsPlayAreas" >
       
      </md-checkbox>
        </md-list-item>

         <md-list-item >
             <p>  Snooker Table</p>
      
      <md-checkbox class="md-secondary" layout="row"  
       ng-false-value="null"
      ng-model="filters.sportActivities.snookerTable" 
      ng-init="filters.sportActivities.snookerTable=local.sportActivities.snookerTable" >
      
      </md-checkbox>
       
        </md-list-item>



         <md-list-item >
             <p> Bowling Alley</p>
      
      <md-checkbox class="md-secondary" layout="row"  
       ng-false-value="null"
      ng-model="filters.sportActivities.bowlingAlley" 
      ng-init="filters.sportActivities.bowlingAlley=local.sportActivities.bowlingAlley" >
       
      </md-checkbox>
       
        </md-list-item>

         <md-list-item >
             <p> Jogging Track</p>
      
       <md-checkbox class="md-secondary" layout="row"  
       ng-false-value="null"
       ng-model="filters.sportActivities.joggingTrack" 
       ng-init="filters.sportActivities.joggingTrack=local.sportActivities.joggingTrack" >
       
      </md-checkbox>
       
        </md-list-item>
        
     <md-button  class="md-raised md-primary md-block" type="submit">Submit</md-button>
    </md-list>
</form>
